body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para{
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-left: 10%;
}
.img1{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 10%;
}
nav{
    margin-right: 20px;
}
a{
    list-style-type: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style-type: none;
    padding: 20px;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid white;
}
.sect1{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h11{
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.welcom{
    color:red;
}
.to{
    color: white;
    font-size: 70px;
}
.my{
    color: white;
    font-size: 70px;
}
.portfolio{
    color:red;
}
.p1{
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.sect2{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* troisieme section*/
.sect3{
    width: 100%;
    height: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ul2{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.li1{
    color: red;
}
.ensemble{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 0.3333%;
}
.gauche{
    display: flex;
    flex-direction: column;
}
.milieu{
    display: flex;
    flex-direction: column;
}
.droite{
    display: flex;
    flex-direction: column;
}
.chikabo{
    display: flex;
    justify-content: space-around;
}
.chika{
    display: flex;
    justify-content: space-around;
}
footer{
    width: 100%;
    height: 300px;
    background-color: white;
}


/*  la partie contact  */

.formulaire{
 width: 400px;
 height: 500px;
 background-color: red;
 border:2px solid white;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 2%;
}
.sect4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.h12{
    text-align: center;
    color: white;
}
label{
    padding: 5%;
}
.input{
    width:200px;
    height:40px;
    border-radius: 7px;
}
.bouton{
    width:100px;
    height:25px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px solid red;
}